
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rh_task_db?schema=public"

JWT_ACCESS_SECRET=votre_cle_a_definir
JWT_REFRESH_SECRET=votre_cle_a_definir
JWT_ACCESS_EXPIRATION="60m"
JWT_REFRESH_EXPIRATION="7d"